Before we start writing code, it is important that we learn how to check our code.

The computer runs through everything we write in split second but we can still pause the computer and go through step by step, check what actually happens when the computer runs our code instructions.

This phase is sometimes being skipped by developers but trust me, you never want to skip this phase and you should always be super comfortable in debugging your code on whatever environment it’s running on.

The easiest way to debug your Javascript application is right into your editor:
  * https://www.jetbrains.com/help/webstorm/debugging-javascript-in-chrome.html
  * https://blog.jetbrains.com/webstorm/2017/01/debugging-angular-apps/

Later on we will learn how to debug mobile applications.
