## Client

Testing is a very important part of each application and for the sake of showing different testing techniques we are going to show how to test a presentational component, a container component and a service.

First let's start by importing `hammerjs` for the Material Gestures inside the test script.

{{{ diffStep "3.1" module="client" files="src/test.ts" }}}

### Testing a Presentional Component

Let's start with the simplest one: the presentational component.
We are not going to inject any service and we don't need to access our backend, so things are quite simple: we just need to pass our Chat object as an Input, detect the changes and use the query selector to match the UI content to the one we passed as input:

{{{ diffStep "3.1" module="client" files="src/app/chats-lister/components/chat-item/chat-item.component.spec.ts" }}}

### Testing a Service

Testing a service is a bit more complicated because we will need to mock our backend in order to get fake results instead of having to fire up the backend each time.

We could simply simply mock the HTTP calls, which is a well known practice in the REST API world. Since we are using HTTP to retrieve the data, it would work as well with our Apollo Client setup.

#### Testing with Apollo Angular

Because Apollo Angular provides its own testing utilities, let's bring them in!

Although `apollo-angular` has a lot going on under the hood, the library provides multiple tools for testing that simplify those abstractions, and allows complete focus on the component logic.

The `apollo-angular/testing` module exports a `ApolloTestingModule` module and `ApolloTestingController` service which simplifies the testing of Angular components by mocking calls to the GraphQL endpoint. This allows the tests to be run in isolation and provides consistent results on every run by removing the dependence on remote data.

By using this `ApolloTestingController` service, it’s possible to specify the exact results that should be returned for a certain query.

Worth mentioning, `ApolloTestingModule` comes with a default cache but you can use your own with `APOLLO_TESTING_CACHE` token.

Let's show everything on an example:

{{{ diffStep "3.1" module="client" files="src/app/services/chats.service.spec.ts" }}}

As you can see, the API of `ApolloTestingController` is pretty similar to the `HttpTestingController`.

There are four methods you should know.

**`expectOne()`**
Important thing, it accepts two arguments. First is different for different use cases, the second one stays always the same, it’s a string with a description of your assertion. In case of failing assertion, the error is thrown with an error message including the given description.

Let's explore all those possible cases `expectOne` accepts:

- you can match an operation by its name, simply by passing a string as a first argument.
- by passing the whole Operation object the expectOne method compares: operation’s name, variables, document and extensions.
- the first argument can also be a function that provides an Operation object and expect a boolean in return
- or passing a GraphQL Document

**`exceptNone()`**
It accepts the same arguments as expectOne but it's a negation of it.

**`match()`**
Search for operations that match the given parameters, without any expectations.

**`verify()`**
Verify that no unmatched operations are outstanding. If any operations are outstanding, fail with an error message indicating which operations were not handled.

If you want to learn more about testing, we got you covered, please visit ["Testing Apollo in Angular" chapter](https://www.apollographql.com/docs/angular/guides/testing.html) in Apollo documentation.

### Testing a Container Component

In the last example we are going to test a container component, which makes use of several services and multiple other components:

{{{ diffStep "3.1" module="client" files="src/app/chats-lister/containers/chats/chats.component.spec.ts" }}}
