Now we can start writing code!

But like we said before, software is build in layers and instead of starting from nothing, we can use existing software with prepared structure.

## Tools

First let’s install some software that we need on our computer:

### Windows

The following instructions are for computers with the Windows operating system.

First let's start by installing node.js. You need to download an installer, by visiting:

    https://nodejs.org/en/download/

Same, with Yarn:

    https://yarnpkg.com/en/docs/install#windows-stable


### Linux

The following instructions are for computers with the Arch Linux operating system, so your mileage may vary.

First let's start by installing npm and node.js, as simple as

    # NodeJS
    pacman -S nodejs npm
    
    # Yarn
    pacman -S yarn


### MacOS

The following instructions are for computers with the MacOS operating system:

    # NodeJS
    brew install node
    
    # Yarn
    brew install yarn --without-node


## Packages

Then we will need a way to install our npm global packages on a per-user basis, instead of relying on sudo: https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.md

Now it's the right moment to install a couple of global packages we will need later on:

    yarn global add @angular/cli node-sass tortilla typescript


## IDE

Now it's time to choose our IDE. I suggest you VSCode, it's available for free: https://code.visualstudio.com/.
To have a look at some of the VSCode features you can have a look at the documentation: https://code.visualstudio.com/docs.

VSCode team prepared an Interactive Playground where you can learn what the editor is cappable of and play with it. I highly recommend to check it out!

    Toolbar: Help > Interactive Playground

There are also many IDEs to recommend and at the end the choice is yours.

## Mobile

We will talk once again about scaffolding once we will introduce `Android` and `Cordova`.
